*.*
!*.gitignore
!*.cs
!*.c
!*.cpp
!*.h
!*.hpp
!*.hlsl
!*.ush
!*.usf
!*.manifest
!*.config
!*.sln
!*.ini
!*.gitattributes
!*.uproject
!Content/**
!Source/**
!Config/**

Intermediate/**
Saved/**
Content/Builds/**
